<section id="content">

    <h2 class="subheader">BUSCADOR</h2>

    <div *ngIf="contacts && contacts.length>0">
        <table id="tabla_contactos" class="center">

            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Detalles</th>
            </tr>

            <tr *ngFor="let contact of contacts | paginate: { itemsPerPage: 10, currentPage: page }; index as i" [ngClass]="i%2 == 0 ? 'fila-par' : 'fila-impar'">
                <td>{{contact.nombre}}</td>
                <td>{{contact.apellidos}}</td>
                <td><a [routerLink]="['/contacto', contact._id]">Ver</a></td>
            </tr>
        </table>

        <pagination-controls class="pagination" (pageChange)="page = $event" [autoHide]="true" [directionLinks]="false"></pagination-controls>

    </div>
    <div *ngIf="!contacts || contacts.length===0">
        No se han encontrado contactos que coincidan con su busqueda
    </div>

</section>