body{
    text-align: center;
    margin: 0px;
    padding: 0px;

    /* FUENTES */
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

#header{
    height: 180px;
    width: 100%;
    background-color: white;
}

#header h1{
    display: inline-block;
    font-family: MV Boli;
    font-size: 70px;
    line-height: 86px;
    color: #D8002E;
}


.center{
    width: 85%;
    margin: 0px auto;
}

.clearfix{
    clear: both;
    float: none;
}

#slider{
    width: 100%;
    height: 100px;
    background-color: black;
}

#menu{
    width: 70%;
    font-size: 18px;
    margin: 0px auto;
}

#menu ul{
    line-height: 100px;
    margin: 0px;
    padding: 0px;
}

#menu ul li{
    display: inline-block;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}

#menu a{
    text-decoration: none;
    color: white;
    transition: 300ms all;
}

#menu a:hover, .active{
    color:palevioletred !important;
}

.border{
    padding-top: 20px;
    padding-bottom: 40px;
    border-top: 3px solid palevioletred;
    border-bottom: 3px solid palevioletred;
}

#content{
    float: left;
    width: 70%;
    min-height: 650px;
    margin-right: 20px;
}

#cumpleanos{
    width: 70%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

#cumpleanos th{
    border: solid 1px black;
    color: white;
    background-color: black;
}

#cumpleanos td{
    border: 1px solid black;
    border-spacing: 0px;
}

#cumpleanos a{
    text-decoration: none;
    color: white;
    transition: 300ms all;
}

#cumpleanos a:hover{
    color:palevioletred !important;
}

td.tarta{
    width: 150px;
}

.img-tarta{
    height: 100px;
}

#tabla_contactos{
    width: 70%;
    border-collapse: collapse;
}

#tabla_contactos th{
    border: solid 1px black;
    color: white;
    background-color: black;
}

#tabla_contactos td{
    border: solid 1px black;
    border-spacing: 0px;
}

#tabla_contactos a{
    text-decoration: none;
    color: black;
    transition: 300ms all;
}

#tabla_contactos a:hover{
    color:palevioletred !important;
}

#tabla_contacto{
    width: 60%;
    border-collapse: collapse;
}

#tabla_contacto th{
    border: solid 1px black;
    color: white;
    background-color: black;
}

#tabla_contacto td{
    border: solid 1px black;
    border-spacing: 0px;
}

.fila-par{
    background-color: white;
}

.fila-impar{
    background-color: #ccc;
}

#sidebar{
    float: left;
    width: 25%;
}

.sidebar-item{
    background-color: #f7f7f7;
    padding: 20px;
    margin-top: 30px;
}

.sidebar-item h3{
    text-transform: uppercase;
    font-size: 17px;
    margin: 0px;
    border-bottom: 1px solid palevioletred;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.sidebar-item .btn{
    margin: 0px auto;
    margin-top: 15px;
}

.btn{
    display: block;
    color: white;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    max-width: 140px;
    transition: 300ms all;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.btn-success{
    margin-top: 20px;
    background-color: black;
}

.btn-success:hover{
    background-color: palevioletred;
    color: black;
}

.btn-warning{
    background-color: #ff8818;
    color: white !important;
    text-decoration: none !important;
    float: left;
    margin-right: 20px;
}

.btn-danger{
    background-color: rgb(190, 2, 2);
    color: white !important;
    text-decoration: none !important;
    float: left;
}
.btn-warning:hover, .btn-danger:hover{
    transition: all 300ms;
    opacity: 0.9;
}

.buttons{
    display: inline-block;
    margin-top: 30px;
}

.mid-form{
    width: 50%;
    margin: 0px auto;
}

.mid-form label{
    width: 100%;
    display: block;
    float: left;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 17px;
}

input[type='text'],
input[type='tel'],
input[type='email']{
    width: 100%;
    min-height: 30px;
    border: 1px solid #bbb;
    padding: 3px;
    margin-bottom: 5px;
    transition: 300ms all;
}

input[type='date']{
    float: left;
    min-height: 30px;
    border: 1px solid #bbb;
    padding: 3px;
    margin-bottom: 5px;
    transition: 300ms all;

}

select{
    float: left;
    min-height: 40px;
    border: 1px solid #bbb;
    padding: 3px;
    margin-bottom: 5px;
    transition: 300ms all;

}

.msg-validator{
    color: red;
}

.btn.up_btn.afu-attach-pin{
    display: block !important;
    width: 100% !important;
    max-width: 90% !important;
    margin-top: 15px !important;

}

input[type='text']:focus,
input[type='tel']:focus,
input[type='email']:focus,
input[type='date']:focus,
select:focus{
    outline-color: black;
}

.subheader{
    font-size: 38px;
    border-bottom: 1px solid palevioletred;
    padding-bottom: 10px;
}

.pagination .ngx-pagination{
    margin-top: 30px;
}

.pagination .ngx-pagination li{
    border: solid 1px black;
}

.pagination .ngx-pagination .current{
    background: black;
}

.pagination .ngx-pagination a:hover{
    background: palevioletred;
}

.pagination .ngx-pagination .pagination-next a::after,
.pagination .ngx-pagination .pagination-previous a::before{
    content: none;
}

.pagination .ngx-pagination li.disabled{
    visibility: hidden;
}

#footer{
    background-color: black;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: white;
}

#footer p{
    margin: 0px;
    padding: 0px;
}

/*** SWEET ALERT ***/

.swal-modal{
    background-color: white;
    border: 1px solid black;
}

.swal-title{
    color: black;
}

.swal-text{
    color: black;
}

.swal-button--confirm{
    background-color: black;
}

.swal-button--confirm:hover{
    background-color: palevioletred !important;
}